* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, button, input {
  font-family: 'Montserrat', sans-serif;
}

.animate-before {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px 15px 24px;
}

header h3 {
  color: #5250fb;
  font-size: 20px;
  font-weight: 700;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 16px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}

header nav .buttons button {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px;
  border-radius: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #5250fb;
}

header nav .buttons a {
  color: #fff;
  background: #5250fb;
  text-decoration: none;
}

.heading {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading .text {
  font-size: 60px;
  font-weight: 600;
}

.heading .wrapper {
  position: relative;
}

.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heading .wrapper .text {
  white-space: nowrap;
  color: #5250fb;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (252px)[5];
      grid-template-columns: repeat(5, 252px);
}

.column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.column:nth-child(1) {
  margin-top: 120px;
  margin-bottom: 120px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.column:nth-child(2) {
  margin-top: 120px;
  margin-bottom: 120px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.column:nth-child(3) {
  margin-top: 120px;
  margin-bottom: 120px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.column:nth-child(4) {
  margin-top: 120px;
  margin-bottom: 120px;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.column:nth-child(5) {
  margin-top: 120px;
  margin-bottom: 120px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.item {
  width: 236px;
  height: 350px;
  background: #5250fb;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 90px 0;
  cursor: pointer;
}

.item img {
  width: 40%;
}

.item span {
  padding: 35px 35px;
}

.item span a {
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.blog .blog-title {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 50%;
  font-size: 45px;
  color: #5250fb;
  line-height: 50px;
}

.blog .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog-container .blog-info {
  margin: 0 30px;
}

.blog .blog-container .blog-info .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog-container .blog-info .info-container .info-container-text {
  padding: 50px 40px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  font-weight: 600;
  font-size: 20px;
  color: #111;
  line-height: 27px;
  text-align: justify;
}

.blog .blog-container .blog-info .info-container .info-img {
  width: 30%;
}

.blog .blog-container .blog-info .info-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog-container .blog-info .info-container-list .info-container-text {
  padding: 40px 40px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  font-weight: 600;
  font-size: 20px;
  color: #111;
  line-height: 27px;
  text-align: justify;
}

.blog .blog-container .blog-info .info-container-list .info-container-text ul li {
  color: #111;
}

.blog .blog-container .blog-info .info-container-list .info-img {
  width: 30%;
}
/*# sourceMappingURL=styles.css.map */