* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #5250fb;
    -webkit-font-smoothing: antialiased;
}

nav {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px auto;

}
nav .fa-bars {
    display: none;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color:#f0f0f5;
}

a {
    text-decoration: none;
    color: white;
}

form {
    background-color: white;

    margin: 80px auto;

    /* Preenchimento */
    padding: 64px;

    border-radius: 8px;

    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
}

form .field {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input, 
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;

    outline: none;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #5250FB;
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 20px;

    transition: background-color 400ms;
}

form button:hover {
    background: #50cdfb;
    transition: 0.2s ease-out;
}

